body {
    background-color: #f7f6f6
}

.card {
    width: 350px;
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 12px
}

.form {
    display: all;
    transition: all 2s
}

.invoice-btn {
    height: 52px
}

.input-text {
    height: 48px
}

.text-area {
    resize: none
}

.display-none {
    display: none;
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out
}

.dots {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
    color: #fff;
    font-size: 29px;
    display: inline-block
}

.btn:focus,
.form-check-input:focus,
.input-text:focus,
.text-area:focus {
    box-shadow: none
}