body{
    height: 100%;
}
.sc-header{
    /* border: 2px solid red; */
    height: 100px;
    width: 100%;
    /* width: 400px; */
    /* width: 400px; */
    display: flex;
    position: fixed;
    margin-bottom: 100px;
    z-index: 2;
    overflow: hidden;
    background: white;
}
.sc-header-logo{
    /* border: 2px solid blue; */
    width: 100px;
}
.sc-header-logo img{
    /* border: 2px solid black; */
    width: 100%;
    height: auto;
}
.sc-header-name{
    /* border: 2px solid red; */
    float: right;
    color: #05386b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    margin: auto 10px;
    width: 300px;
    /* margin: 60px 0px 0px 12px; */
    font-family: Bai Jamjuree;
}
.sc-header-name a{
    text-decoration: none;
    color: #05386b;
}
.sc-header-name a:hover{
    color: #003569;
}
.sc-header-name h3{
    float: right;
    color: #05386b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    margin: 60px 0px 0px 12px;
    font-family: Bai Jamjuree;
}
#change-scheduleclass,#change-uploadnotes,#change-updates,#change-profile,#change-yearpaper{
    /* position: fixed; */
    margin-top: 150px;
    /* height: 500px; */
    /* overflow-y: scroll; */
    background: white;
}

#change-table{
    /* background: red; */
    margin-top: 150px;
}







.modal-close-btn{
    font-size: 40px;
    background: none;
    border: none;
}
.modal-close-btn:hover{
    transform: scale(1.1);
    color: rgba(0, 0, 0, 0.705);
}
.sc-heading{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
    background: white;
}
.sc-heading-part{
    /* border: 2px solid black; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid transparent;
    border: 2px solid transparent;
}
.sc-heading-part button{
    width: 100%;
    border-radius: 0%;
}

#table1
{
    padding-top:90px;
    text-align: center;
}